<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My FastAPI App</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1 id="heading">My FastAPI App</h1>

    <h2>Login</h2>

    <input
        type="email"
        id="email"
        placeholder="Enter email"
    >

    <br><br>

    <input
        type="password"
        id="password"
        placeholder="Enter password"
    >

    <br><br>

    <button id="loginBtn">Login</button>

    <hr>

    <button id="aboutBtn">Get About</button>

    <button id="taskBtn">Get Tasks</button>

    <p id="result"></p>

    <script src="/static/js/script.js"></script>

</body>

</html>